<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.salary.mapper.DepositMapper">

    <resultMap id="BaseResultMap" type="com.wh.salary.entity.Deposit">
            <id property="depositId" column="deposit_id" jdbcType="INTEGER"/>
            <result property="accountId" column="account_id" jdbcType="VARCHAR"/>
            <result property="depositType" column="deposit_type" jdbcType="VARCHAR"/>
            <result property="remaining" column="remaining" jdbcType="INTEGER"/>
            <result property="depositTime" column="deposit_time" jdbcType="TIMESTAMP"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="interestRate" column="interest_rate" jdbcType="DECIMAL"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        deposit_id,account_id,deposit_type,
        remaining,deposit_time,expire_time,
        interest_rate,del_flag,remark
    </sql>
</mapper>
