<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.salary.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.wh.salary.entity.Employee">
            <id property="empId" column="emp_id" jdbcType="INTEGER"/>
            <result property="empName" column="emp_name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="salary" column="salary" jdbcType="DECIMAL"/>
            <result property="jobTitle" column="job_title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        emp_id,emp_name,gender,
        salary,job_title
    </sql>
</mapper>
